*{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}
.icon-pack{
    border-radius: 70px;
    padding: 30px;
    border-width: thick;
    border-color: orange;
    background-color: #fff;
}
.icon{
    display: absolute;
    text-align: center;
    margin-top: -45px;    
}
.icon-details{
    border: 10px;
    text-align: center;
}
.icon-full{
    justify-content: center;
}
.spec{
    margin-left: 6rem;
}
.sale{
    display: flex;
    flex-direction: column; 
    align-items: center;
    font-size: 25px;
    justify-content: center; 
    margin:3rem 0;  
}
.sale >h1{
    letter-spacing:10px;
    
}
.sale > p{
    font-size: 17px;
    color: rgba(135, 135, 135, 0.485);
}
.sale-btn{
    display: flex;
    justify-content:end;
    background-color: tomato;
    border-radius: 30px;
    padding: 0 15px;
}
.btn{
    display: flex;
    justify-content: end;
    margin: 2rem 4rem;
}

.icon-caro{
    display: absolute;
    text-align: center;
}
.cart1{
    position: relative;
    width: 400px;
    height: 200px;
    object-fit: contain;
}
.image1{
    width: 400px;
    height: 200px;
}
.cart-btn{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.cart2{
    position: relative;
    width: 400px;
    height: 200px;
    object-fit: contain;
}
.image2{
    width: 400px;
    height: 200px;
}
.cart-btn2{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.cart3{
    position: relative;
    width: 400px;
    height: 200px;
    object-fit: contain;
}
.image3{
    width: 400px;
    height: 200px;
}
.cart-btn3{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.cart4{
    position: relative;
    width: 400px;
    height: 200px;
    object-fit: contain;
}
.image4{
    width: 400px;
    height: 200px;
}
.cart-btn4{
    position: absolute;
    bottom: 30px;
    left: 20px;
}
.conatiner1{
    display: flex;
    margin-left: 6rem;
    
}
.big-div{
    width: 20rem;
    height: 32rem;
    margin-right: 25px;
}
.big-div > img{
    width:20rem;
    height: 25rem;
    padding: 30px;
    object-fit: cover;
}
.big-div > h2, p{
    display: flex;
    justify-content: center;    
}
.big-div > button{
    display: block;
    margin: auto;
}
.small-divs-combine{
    
    
}
.small-divs{
    display: flex;
    width: 50rem;
    height: 15rem;
    margin-bottom: 30px;
}
.small-divs2{
    display: flex;
    width: 50rem;
    height: 15rem;
}
.small-divs .small-divs2 > h2,p,button{
    display: flex;
    justify-content: center;
    margin: auto;
}
.small-divs > p{
    
}
.small{
    margin-right: 20px;
    padding: 10px;
}

